


.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('https://t3.ftcdn.net/jpg/08/68/51/04/360_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Stylish Glassmorphism Login Box */
.login-form {
  background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
  backdrop-filter: blur(10px); /* blur the background */
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #0510af; /* You can change to any hex color */
  font-weight: bold;
}



.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}


.login-button {
  padding: 10px;
  background-color: #7e57c2; /* Purple */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #673ab7; /* Darker Purple on hover */
}

.login-error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
